:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --text-dark: 0, 0, 0;
  --background-light: #fff;
}

body {
  color: rgb(var(--text-dark));
  background: rgb(var(--background-light));
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.btn-none {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  background-color: transparent;
  display: inline-block;
}

.btn-disabled {
  pointer-events: none !important;
  opacity: 0.4 !important;
}
